---
http_interactions:
- request:
    method: get
    uri: http://api.bandcamp.com/api/url/1/info?key=vifaurskordadlaussofhlada&url=http://featurelessghost.bandcamp.com/album/new-moods
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"band_id":2153716647,"album_id":3152700495}'
  recorded_at: Sun, 19 Feb 2012 03:56:01 GMT
- request:
    method: get
    uri: http://api.bandcamp.com/api/band/3/info?band_id=2153716647&key=vifaurskordadlaussofhlada
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"band_id":2153716647,"url":"http:\/\/featurelessghost.bandcamp.com","name":"Featureless
      Ghost","subdomain":"featurelessghost","offsite_url":"http:\/\/www.featurelessghost.com"}'
  recorded_at: Sun, 19 Feb 2012 03:56:01 GMT
- request:
    method: get
    uri: http://api.bandcamp.com/api/album/2/info?album_id=3152700495&key=vifaurskordadlaussofhlada
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"url":"http:\/\/featurelessghost.bandcamp.com\/album\/new-moods?pk=520","release_date":1312243200,"band_id":2153716647,"album_id":3152700495,"tracks":[{"duration":69.1154,"url":"\/track\/lost-city?pk=520","downloadable":2,"track_id":1974108541,"band_id":2153716647,"album_id":3152700495,"streaming_url":"http:\/\/popplers5.bandcamp.com\/download\/track?enc=mp3-128&fsig=284bc41e27e6f41db34d94fd94fd117e&id=1974108541&pk=520&stream=1&ts=1329624000.0","number":1,"title":"Lost
      City"},{"duration":435.692,"url":"\/track\/scanproof-cyberdream-c?pk=520","downloadable":2,"track_id":3481473301,"band_id":2153716647,"album_id":3152700495,"streaming_url":"http:\/\/popplers5.bandcamp.com\/download\/track?enc=mp3-128&fsig=98eb690daa11359b8809246daa773bc9&id=3481473301&pk=520&stream=1&ts=1329624000.0","number":2,"title":"Scanproof
      (CyberDream\u00a9)"},{"duration":355.038,"url":"\/track\/featureless-ghost-virtual-night?pk=520","downloadable":2,"track_id":16760584[...]
