---
http_interactions:
- request:
    method: get
    uri: http://api.bandcamp.com/api/url/1/info?key=vifaurskordadlaussofhlada&url=http://featurelessghost.bandcamp.com/album/new-moods
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"band_id":2153716647,"album_id":3152700495}'
  recorded_at: Thu, 16 Feb 2012 00:59:30 GMT
- request:
    method: get
    uri: http://api.bandcamp.com/api/band/3/info?band_id=2153716647&key=vifaurskordadlaussofhlada
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"band_id":2153716647,"url":"http:\/\/featurelessghost.bandcamp.com","name":"Featureless
      Ghost","subdomain":"featurelessghost","offsite_url":"http:\/\/www.featurelessghost.com"}'
  recorded_at: Thu, 16 Feb 2012 00:59:30 GMT
- request:
    method: get
    uri: http://api.bandcamp.com/api/album/2/info?album_id=3152700495&key=vifaurskordadlaussofhlada
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"band_id":2153716647,"url":"http:\/\/featurelessghost.bandcamp.com\/album\/new-moods?pk=520","album_id":3152700495,"tracks":[{"band_id":2153716647,"url":"\/track\/lost-city?pk=520","album_id":3152700495,"streaming_url":"http:\/\/popplers5.bandcamp.com\/download\/track?enc=mp3-128&fsig=c36455dc58742dbfd05147386f39cdd6&id=1974108541&pk=520&stream=1&ts=1329364800.0","duration":69.1154,"number":1,"title":"Lost
      City","downloadable":2,"track_id":1974108541},{"band_id":2153716647,"url":"\/track\/scanproof-cyberdream-c?pk=520","album_id":3152700495,"streaming_url":"http:\/\/popplers5.bandcamp.com\/download\/track?enc=mp3-128&fsig=d16cb41d54f7976e65964d6cc7317f87&id=3481473301&pk=520&stream=1&ts=1329364800.0","duration":435.692,"number":2,"title":"Scanproof
      (CyberDream\u00a9)","downloadable":2,"track_id":3481473301},{"band_id":2153716647,"url":"\/track\/featureless-ghost-virtual-night?pk=520","album_id":3152700495,"streaming_url":"ht[...]
