---
http_interactions:
- request:
    method: get
    uri: http://api.bandcamp.com/api/band/3/info?band_id=2153716647&key=vifaurskordadlaussofhlada
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"band_id":2153716647,"url":"http:\/\/featurelessghost.bandcamp.com","subdomain":"featurelessghost","name":"Featureless
      Ghost","offsite_url":"http:\/\/www.featurelessghost.com"}'
  recorded_at: Tue, 20 Mar 2012 16:51:52 GMT
- request:
    method: get
    uri: http://api.bandcamp.com/api/album/2/info?album_id=3152700495&key=vifaurskordadlaussofhlada
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"release_date":1312243200,"url":"http:\/\/featurelessghost.bandcamp.com\/album\/new-moods?pk=520","album_id":3152700495,"tracks":[{"url":"\/track\/lost-city?pk=520","album_id":3152700495,"band_id":2153716647,"downloadable":2,"duration":69.1154,"streaming_url":"http:\/\/popplers5.bandcamp.com\/download\/track?enc=mp3-128&fsig=dab45b0f7d0ea00c61c448a29c6771bf&id=1974108541&pk=520&stream=1&ts=1332273600.0","number":1,"title":"Lost
      City","track_id":1974108541},{"url":"\/track\/scanproof-cyberdream-c?pk=520","album_id":3152700495,"band_id":2153716647,"downloadable":2,"duration":435.692,"streaming_url":"http:\/\/popplers5.bandcamp.com\/download\/track?enc=mp3-128&fsig=65a4c040ce93d4e0eccd4087331f9058&id=3481473301&pk=520&stream=1&ts=1332273600.0","number":2,"title":"Scanproof
      (CyberDream\u00a9)","track_id":3481473301},{"url":"\/track\/featureless-ghost-virtual-night?pk=520","album_id":3152700495,"band_id":2153716647,"downloadable":2,"d[...]
- request:
    method: get
    uri: http://api.bandcamp.com/api/url/1/info?key=vifaurskordadlaussofhlada&url=http://featurelessghost.bandcamp.com/album/new-moods
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"album_id":3152700495,"band_id":2153716647}'
  recorded_at: Tue, 20 Mar 2012 17:16:07 GMT
- request:
    method: get
    uri: http://api.bandcamp.com/api/track/3/info?key=vifaurskordadlaussofhlada&track_id=1974108541
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"album_id":3152700495,"downloadable":2,"lyrics":null,"band_id":2153716647,"url":"\/track\/lost-city","small_art_url":null,"streaming_url":"http:\/\/popplers5.bandcamp.com\/download\/track?enc=mp3-128&fsig=04e62298c59bc547e53aacc7bf9ac208&id=1974108541&stream=1&ts=1332273600.0","about":null,"large_art_url":null,"duration":69.1154,"credits":null,"track_id":1974108541,"title":"Lost
      City","number":1}'
  recorded_at: Tue, 20 Mar 2012 17:30:46 GMT
- request:
    method: get
    uri: http://api.bandcamp.com/api/url/1/info?key=vifaurskordadlaussofhlada&url=http://featurelessghost.bandcamp.com/track/lost-city-cont
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"band_id":2153716647,"track_id":1236669402}'
  recorded_at: Tue, 20 Mar 2012 17:46:08 GMT
- request:
    method: get
    uri: http://api.bandcamp.com/api/track/3/info?key=vifaurskordadlaussofhlada&track_id=1236669402
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"album_id":3152700495,"downloadable":2,"lyrics":null,"band_id":2153716647,"url":"\/track\/lost-city-cont","small_art_url":null,"streaming_url":"http:\/\/popplers5.bandcamp.com\/download\/track?enc=mp3-128&fsig=e1facbffbeddb7fda32d5992e867cb4b&id=1236669402&stream=1&ts=1332273600.0","about":null,"large_art_url":null,"duration":155.192,"credits":null,"track_id":1236669402,"title":"Lost
      City Cont.","number":8}'
  recorded_at: Tue, 20 Mar 2012 17:46:09 GMT
recorded_with: VCR 2.0.0.rc1
