---
http_interactions:
- request:
    method: get
    uri: http://api.bandcamp.com/api/band/3/info?band_id=2153716647&key=vifaurskordadlaussofhlada
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"band_id":2153716647,"url":"http:\/\/featurelessghost.bandcamp.com","subdomain":"featurelessghost","name":"Featureless
      Ghost","offsite_url":"http:\/\/www.featurelessghost.com"}'
  recorded_at: Tue, 20 Mar 2012 16:51:52 GMT
- request:
    method: get
    uri: http://api.bandcamp.com/api/album/2/info?album_id=3152700495&key=vifaurskordadlaussofhlada
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body: ! '{"release_date":1312243200,"url":"http:\/\/featurelessghost.bandcamp.com\/album\/new-moods?pk=520","album_id":3152700495,"tracks":[{"url":"\/track\/lost-city?pk=520","album_id":3152700495,"band_id":2153716647,"downloadable":2,"duration":69.1154,"streaming_url":"http:\/\/popplers5.bandcamp.com\/download\/track?enc=mp3-128&fsig=dab45b0f7d0ea00c61c448a29c6771bf&id=1974108541&pk=520&stream=1&ts=1332273600.0","number":1,"title":"Lost
      City","track_id":1974108541},{"url":"\/track\/scanproof-cyberdream-c?pk=520","album_id":3152700495,"band_id":2153716647,"downloadable":2,"duration":435.692,"streaming_url":"http:\/\/popplers5.bandcamp.com\/download\/track?enc=mp3-128&fsig=65a4c040ce93d4e0eccd4087331f9058&id=3481473301&pk=520&stream=1&ts=1332273600.0","number":2,"title":"Scanproof
      (CyberDream\u00a9)","track_id":3481473301},{"url":"\/track\/featureless-ghost-virtual-night?pk=520","album_id":3152700495,"band_id":2153716647,"downloadable":2,"d[...]
