:javascript
  $(document).ready(function() {
    $('#new_playlist_search_term').tokenInput("#{tags_autocomplete_path}", {
      theme: 'facebook',
      tokenValue: 'name'
    });
  });

#app_container.clear
  .playlist_form
    .playlists_container
      %ul
        %li
          <a href="#">Playlists <i class="icon-chevron-down"></i></a>
          %ul#playlists
            %li

    %form#new_playlist
      %input#new_playlist_search_term{:type => "text", :name => "tag"}
      %a#new_playlist_link.btn.btn-inverse{href: "#"} <i class="icon-play icon-white"></i> Listen
      or
      %a#random_playlist_link.btn.btn-warning{href: "#"} <i class="icon-random icon-white"></i> Random 

  .music_container.clear
    %h2 Hit the listen to start!

    .player_container
      .player_controls
        %audio#player
        .progress
          .bar{:style => "width: 0%"}

        #player_buttons
          %a#play_song{:href => "#"} <i class="icon-play"></i>
          %a#pause_song{:href => "#"} <i class="icon-pause"></i>
          %a#next_song{:href => "#"} <i class="icon-step-forward"></i>

        #current_song_name

        #time
          %span#current_time 0:00
          \/
          %span#duration 0:00

        %p.clear 

      .songs_container
        #songs

  .user_container.clear
