:javascript
  $(document).ready(function() {
    $('#new_playlist_search_term').tokenInput("#{tags_autocomplete_path}", {
      theme: 'facebook',
      tokenValue: 'name'
    });
  });

#app_container.clear
  .playlist_form
    .playlists_container
      %ul
        %li
          <a id="playlists_dropdown" href="#">Playlists <i class="icon-chevron-down"></i></a>
          %ul#playlists
            %li

    %form#new_playlist
      %input#new_playlist_search_term{:type => "text", :name => "tag"}
      %a#new_playlist_link.btn.btn-inverse{href: "#"} <i class="icon-play icon-white"></i> Listen
      or
      %a#random_playlist_link.btn.btn-warning{href: "#"} <i class="icon-random icon-white"></i> Random 

    %p.clear

  .info_container.clear
    %h2 What is Mavin.fm?
    %p
      :plain
        Mavin.fm is a music discovery engine for independent artists that use 
        <a href="http://bandcamp.com" target="_blank">Bandcamp</a> and <a href="http://soundcloud.com" target="_blank">SoundCloud</a>.
        Mavin hopes to make finding awesome new independent artists easy and help the artists get the exposure they deserve.
        <br>
        Follow us on Twitter to get the latest updates! <a href="https://twitter.com/mavinfm" class="twitter-follow-button" data-show-count="false">Follow @mavinfm</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    .recently_liked
      %h3 Recently Liked
      %div
        %ul 
          - @likes.each_with_index do |like,i|
            %li{:class => i%2==0?'even':'odd'}
              = like.track.title
              by #{link_to like.track.artist, like.track.artist_url, :target => "_blank"}
              - if like.track.album_title
                on #{link_to like.track.album_title, like.track.album_url, :target => "_blank"}

    %h3 How do I get started?
    %p.hide
      :plain
        Discovering is easy! Just type in a genre and some related music-tags and hit listen. Not sure what you want 
        to listen to? No problem! Hit random and like or dislike songs as their played until Mavin knows what kind of 
        music you're looking for.
    %h3 How do I add my music to Mavin.fm?
    %p.hide
      :plain
        Artists just need to <a href="/music/new" target="_blank">submit their music</a> to our site so we know about it. 
        Submitting is easy, just add the link and a couple of genres or tags that are appropriate for it so Mavin knows 
        when to play it.

          
  .music_container.clear
  .user_container.clear
