#container Loading page...

#app_container
  %form#new_playlist
    %input#new_playlist_search_term{:type => "text", :name => "tag"}
    %input{:type => "submit", :value => "Create playlist"}

  %h3 playlists
  #playlists

  %audio#player
  %a#play_song{:href => "#"} play
  %a#pause_song{:href => "#"} pause
  %a#next_song{:href => "#"} next

  #songs
