:javascript
  $(document).ready(function() {
    $('#new_playlist_search_term').tokenInput("#{tags_autocomplete_path}", {
      theme: 'facebook',
      tokenValue: 'name'
    });
  });

#app_container
  .playlist_form
    %form#new_playlist
      %input#new_playlist_search_term{:type => "text", :name => "tag"}
      %input#create_new_playlist.btn.btn-inverse{:type => "submit", :value => "Listen"}

  .playlists_container
    %h3 playlists
    #playlists

  .right_container
    .player_container
      .player_controls
        %audio#player
        %a#play_song{:href => "#"}
          %i.icon-play
        %a#pause_song{:href => "#"}
          %i.icon-pause
        %a#next_song{:href => "#"}
          %i.icon-step-forward

      %p#time
        %span#current_time 0:00
        \/
        %span#duration 0:00


      .songs_container
        #songs
