/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset-min
 *= require bootstrap.min
 *= require_self
 *= require_tree .
*/

html, body {
  background: #f5f5f5;
  margin: 0 auto;
  width: 800px;
}

#app_container {
  border: #ccc 1px solid;
}

#playlist_form {
  background: #fff;
  padding: 10px;

  form, input {
    margin-bottom: 0px;
  }

  input[type=text] {
    width: 670px;
  }
}
