/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require reset-min
 *= require token-input.css
 *= require token-input-facebook.css
 *= require bootstrap.min
 *= require_self
 *= require_tree .
*/

html {
  background: url(/assets/classy_fabric.png);
}

body {
  background: none;
  margin: 0 auto;
  margin-top: 20px;
  width: 600px;
}

h1 {
  color: #fff;
  margin-bottom: 15px;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

#app_container {
}

.playlist_form {
  margin-bottom: 10px;
}

#new_playlist {
  background: #fff;
  margin: 0;
  padding: 10px;
}

#new_playlist input {
  margin-bottom: 0px;
}

#new_playlist #new_playlist_term {
  width: 509px;
}

.playlists_container {
}

.playlists_container h2 {
  color: #fff;
  float: right;
  width: 515px;
}

.playlists_container ul {
  color: #fff;
  float: left;
  margin: 0;
  width: 78px;
}

.playlists_container ul li {
  list-style-type: none;
  position: relative;
}


.playlists_container ul li a {
  background: #efefef;
  border-radius: 3px;
  display: inline-block;
  font-size: 9pt;
  font-weight: bold;
  margin-top: 4px;
  padding: 5px;
}

.playlists_container ul li a:hover {
  text-decoration: none;
}

.playlists_container ul li:hover a {
  border-radius: 3px 3px 0px 0px;
}

.playlists_container li ul {
  display: none;
}

.playlists_container li:hover ul {
  background: #efefef;
  display: block;
  position: absolute;
  width: 200px;
}

.playlists_container li:hover ul li a {
  display: block;
  border-bottom: 1px solid #efefef;
}

#playlists {
  z-index: 999;
}

.player_controls {
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
}

.player_container #player_buttons {
  float: left;
  margin: 0 10px;
}

.player_container #current_song_name {
  float: left;
  font-weight: bold;
}

.player_container #time {
  float: right;
  margin: 0 10px;
}

.progress {
  margin: 10px;
}

#songs div {
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding: 10px;
  position: relative;
}

#songs .current {
  background: #bee9fc;
}

#songs div .left {
  float: left;
  margin-right: 10px;
}

#songs div .left a {
}

#songs div p {
  margin: 0;
}

#songs .like-song,
#songs .dislike-song {
  display: block;
  float: left;
  text-align: center;
  width: 50px;
}

#songs .like-song {
  background: #c4ffb7;
  border-bottom-left-radius: 3px;
}

#songs .like-song:hover {
  background: #4da439;
}

#songs .liked {
  background: #00e000;
}

#songs .disliked {
  background: #e00000;
}

#songs .dislike-song {
  background: #ffbcbc;
  border-bottom-right-radius: 3px;
}

#songs .dislike-song:hover {
  background: #a43939;
}

#songs .song-info {
  position: absolute;
  bottom: 10px;
  left: 120px;
}

ul.token-input-list-facebook {
  float: left;
  margin-right: 5px;
  width: 390px;
}
