.search_form {
  background: #555;
  border-radius: 3px;
  clear: both;

  #known_search_box {
    margin: 5px 0px 5px 5px;
    width: 525px;
  }
}

h3.search {
  color: #fff;
}

.track {
  background: #fff;
  margin-bottom: 3px;
  padding: 3px;
}

.get_more {
  margin: 10px;
  text-align: center;
}
