// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#songs div {
  &.loading {
    background-image: url(/assets/loading.gif);
    background-repeat: no-repeat;
    background-position-x: 281px;
    background-position-y: 61px;
    height: 120px;
  }
}
