// Place all the styles related to the tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#songs div {
  background: #fbfbfb;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  margin-bottom: 10px;

  img {
    float: left;
    padding: 10px;
    padding-top: 0px;
  }

  h4 {
    margin-top: 10px;
  }

  p {
    font-size: 9pt;
    margin: 0;
    padding: 0px;
  }

  ul {
    clear: both;
    background: #ccc;
    margin: 0px;
    
    li {
      display: inline-block;
      text-align: center;
      width: 49%;
    }
  }

  .clear {
    clear: both;
    margin: 0;
    padding: 0;
  }
}
