!!!
%html
  %head
    %title Mavin.fm
    = stylesheet_link_tag "interest"
    - #= javascript_include_tag "interest"
    = csrf_meta_tags

  %body#interest
    %h1 Mavin.fm

    - if flash[:notice]
      .notice= flash[:notice]

    .outer-container
      = yield
